<title>AJAX Example</title>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var BASE_URL = "<%= request.base_url %>";
$(document).ready(function() {
    $.ajax({
    url: BASE_URL+'/pets', // Example URL
    method: 'GET',
    dataType: 'json', // Expect JSON response
    success: function(data) {
        // Handle the JSON data here and render it on the page
        $('#my-container').html('<p>' + JSON.stringify(data) + '</p>');
    },
    error: function() {
        console.error('Error fetching data.');
    }
    });
});
  </script>
  <div id="my-container"></div>