<html>
<head>
  <title>Create Pet</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<h1>Create a New Pet</h1>

<form id="create_pet_form">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  
  <label for="pet_type">Pet Type:</label><br>
  <input type="text" id="pet_type" name="pet_type"><br>
  
  <label for="birthdate">Birthdate:</label><br>
  <input type="date" id="birthdate" name="birthdate"><br>
  
  <label for="breed">Breed:</label><br>
  <input type="text" id="breed" name="breed"><br>

  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"><br>
  
  <button type="button" onclick="createPet()">Create Pet</button>
</form>

<script>
  var BASE_URL = "<%= request.base_url %>";
function createPet() {
  var data = {
    name: $('#name').val(),
    pet_type: $('#pet_type').val(),
    birthdate: $('#birthdate').val(),
    breed: $('#breed').val(),
    description: $('#description').val(),
    user_id: localStorage.userid
  };
  
  $.ajax({
    type: 'POST',
    url: BASE_URL+'/pets',
    contentType: 'application/json;charset=UTF-8',
    data: JSON.stringify({ pet: data }),
    success: function(response) {
      alert('Pet created successfully!');
      console.log(response);
      window.location.href = BASE_URL+'/render/users/pets';
    },
    error: function(response) {
      alert('Error creating pet.');
      console.log(response);
    }
  });
}
</script>

</body>

