<!DOCTYPE html>
<html>
<head>
    <title>AJAX Example</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container mt-4"> 
        <div id="my-container"></div>
    </div> 

    <div class="d-flex justify-content-center mt-4" style="margin-bottom: 100px;">
        <button id="create-pet-link" class="btn btn-primary" onclick="window.location.href='/render/users/pet';">
            <img src="/images/add.png" alt="">
            Create a New Pet
        </button>
    </div>
    
    <script>
        if (!localStorage.getItem('username')) {
            window.location.href = '/';
        }
        var BASE_URL = "<%= request.base_url %>";
        $(document).ready(function() {
            var userid = localStorage.getItem('userid');
            console.log(BASE_URL)
            console.log(BASE_URL+'/pets/user/' + userid)
            updatePage(userid);
            
            setInterval(function() {
                var currentUserId = localStorage.getItem('userid');
                if (userid !== currentUserId) {
                    userid = currentUserId;
                    updatePage(userid);
                }
            }, 1000); // Check every second
        });

        function updatePage(userid) {
            if (userid) {
                $('#create-pet-link').show();
                $.ajax({
                    url: BASE_URL+'/pets/user/' + userid,
                    method: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        var html = '';
                        $.each(data, function(index, val) {
                            html += getPetHTML(val);
                        });
                        $('#my-container').html(html);
                    },
                    error: function() {
                        console.error('Error fetching data.');
                    }
                });
            } else {
                $('#create-pet-link').hide();
                // $('#my-container').html('<p>Please login to view your pets.</p>');
            }
        }
        
        function getPetHTML(val) {
            var petTemplate = [
                ' <div class="my-pet">',
                '     <div class="col-lg-11 item row">',
                '         <div class="col-lg-2 col-sm-5">',
                '             <img src="/images/' + (val.pet_type.toLowerCase() == 'dog' ? 'dog' : (val.pet_type.toLowerCase() == 'cat' ? 'cat' : 'others')) + '.png" alt="">',
                '         </div>', 
                '         <div class="col-lg-10 col-sm-7 content">',
                '             <h4>name: ' + val.name + '</h4>',
                '             <span>onsale: ' + val.onsale + '</span>',
                '             <span>create_at: ' + val.created_at + '</span>',
                '             <div class="view-pet">',
                '                 <a href="/render/pets/' + val.id +'">View Pet</a>',
                '                 <button class="toggle-sale btn btn-' + (val.onsale ? 'warning' : 'success') + 
                '" data-id="' + val.id + '" data-onsale="' + !val.onsale + '">' + 
                (val.onsale ? 'Go Off Sale' : 'Go On Sale') + '</button>',
                '                 <form class="sale-form" style="display: none;" data-id="' + val.id + '">',
                '                     <input type="number" placeholder="Enter new sale price" name="sale_price">',
                '                     <button type="submit" class="btn btn-primary">Update Price</button>',
                '                 </form>',
                '             </div>',
                '             <p>Meet ' + val.name + ', a furry bundle of joy and loyalty. With his soulful eyes and wagging tail, he has a way of melting hearts and bringing smiles to everyone he meets. This delightful ' + val.breed + ' possesses a charming blend of playfulness and calmness, making him the perfect companion for both spirited adventures and cozy nights in.</p>',
                '             <ul class="info">',
                '                 <li>pet_type: ' + val.pet_type + '</li>',
                '                 <li>breed: ' + val.breed + '</li>',
                '                 <li>birthdate: ' + val.birthdate + '</li>',
                '             </ul>',
                '             <div class="view-pet-activities">',
                '                 <a href="/render/pets/' + val.id + '/activities">View Pet Activities</a>',
                '             </div>',
                '         </div>',
                '     </div>',
                ' </div>',
            ]
            return petTemplate.join('');
        }
        
        $(document).on('click', '.toggle-sale', function() {
            var petId = $(this).data('id');
            var onsale = $(this).data('onsale');
            
            // Toggle the form visibility
            var $form = $(this).siblings('.sale-form');
            if(onsale && !$form.is(':visible')){
                $form.slideDown();
            } else {
                // Proceed with going off sale
                $.ajax({
                    url: BASE_URL + '/pets/' + petId + '/put_offsale',
                    method: 'PATCH',
                    dataType: 'json',
                    success: function(data) {
                        alert('Pet taken off sale.');
                        window.location.href = '/render/users/pets'; // Refresh the pets listing
                    },
                    error: function() {
                        alert('Error updating pet status.');
                    }
                });
            }
        });

        // Handle form submission for going on sale
        $(document).on('submit', '.sale-form', function(event) {
            event.preventDefault();
            var petId = $(this).data('id');
            var salePrice = $(this).find('input[name="sale_price"]').val();
            
            // Proceed with going on sale
            $.ajax({
                url: BASE_URL + '/pets/' + petId + '/put_onsale',
                method: 'PATCH',
                dataType: 'json',
                data: { price: salePrice },
                success: function(data) {
                    alert('Pet put on sale at price: ' + salePrice);
                    window.location.href = '/render/users/pets'; // Refresh the pets listing
                },
                error: function() {
                    alert('Error setting sale price.');
                }
            });
            
            $(this).slideUp(); // Hide the form again
        });


    </script>

    <style>
        #create-pet-link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.8);
            color: #333;
            border: 3px solid #b98eff;
            border-radius: 10px;
            font-size: 18px;
            font-weight: bold;
            transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
        }
        
        #create-pet-link img {
            width: 30px;
            height: 30px;
            margin-right: 10px;
        }

        #create-pet-link:hover {
            background: linear-gradient(to left, rgba(185, 142, 255, 0.8), rgba(225, 197, 255, 0.8));
            color: #333;
            border-color: #e1c5ff;
        }
    </style>

</body>
</html>
